@font-face {
    font-family: 'AlibabaPuHuiTiB';
    src: url("AlibabaSans-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlibabaPuHuiTiH';
    src: url("AlibabaSans-Heavy.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlibabaPuHuiTiR';
    src: url("AlibabaSans-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlibabaPuHuiTiM';
    src: url("AlibabaSans-Medium.otf");
    font-weight: normal;
    font-style: normal;
}
